node_modules
dist
build
.next
.turbo
coverage
*.log
*.tsbuildinfo
.DS_Store
.env
.env.bak
.env.local
.env.*.local
**/.env.local
**/.env.*.local
apps/api/prisma/generated
apps/web/.vite
apps/web/*.config.js
apps/web/*.config.d.ts
!apps/web/postcss.config.js
apps/mobile/build
apps/mobile/.dart_tool
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
infra/grafana/data
infra/prometheus/data
infra/postgres/data
infra/redis/data
infra/nginx.conf
